.custom-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.custom-tooltip .custom-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
}

.fund-list-element {
  text-align: left; 
  padding: 0px;
}

.fund-list-card {
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #888888;
}

.fund-list-address {
  font-size: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-0 {
  margin-top: 0px;
}

@media (max-width: 768px) {
  .fund-list-element {
    text-align: center; 
  }

  .fund-list-address {
    font-size: 8px;
  }


  .foot-words {
    font-size: 2rem;
  }

}


